.post_layout-post {
    display: flex;
    justify-content: center;
}

.post_container {
    width: 80%;
    margin-top: 36px;
}

.post_main-title {
    margin-bottom: 50px;
}

.post_author-info {
    display: flex;
    align-items: center;
    margin-bottom: 32px;

}

.post_author-image {
    width: 44px;
    border-radius: 50%;
    margin-right: 16px;
}

.post_author-text {
    font-size: 24px;
}

.post_content-container {
    margin-top: 32px;
}

.post_article-post {
    font-size: 1rem;
    line-height: 1.8rem;
}
.post_article-post h3, 
.post_article-post h1, 
.post_article-post img, 
.post_article-post p{
    margin-top: 30px;
    line-height: 30px;
}

/* Resposive */
@media (min-width: 721px) {
    .post_container {
        max-width: 850px;
    }
}