.post_layout-post {
    width: auto;
}
.post_site-content {
    min-width: 60vh;
    padding-top: 24px;
    margin-top: 57px;
    transition: all 0.4s;
}
.post_container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .post_container {
        max-width: 850px;
    }
    .post_post {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .post_share {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
}
.post_row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.post_share {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.post_main-title {
    padding: 1rem 0rem;
    line-height: 3rem;
}
.post_lead {
    font-size: 20px;
    margin-bottom: 1rem;
}
.post_main-content {
    min-height: 300px;
}
.post_post {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}
.post_mainheading {
    padding-top: 16px;
    padding-bottom: 16px;
}
.post_info {
    display: flex;
    width: 100%;
    margin-bottom: 32px;
    margin-left: -15px;
    margin-right: -15px;
}
.post_re-img {
    padding-left: 15px;
    padding-right: 15px;
}
.post_image {
    width: 70px;
    border-radius: 50%;
    margin-right: 30px;
}
.post_text {
    font-size: 1rem;
    width: 100%;
    margin-left: 15px;
    line-height: 30px;
}
.post_article-post {
    font-size: 1rem;
    line-height: 1.8rem;
}
.post_article-post h3, h1, img, p{
    margin-top: 30px;
    line-height: 30px;
}


