* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.setting_container {
    display: flex;
    justify-content: center;
}

.setting_content {
    width: 90%;
    margin-top: 24px;
}

.setting_heading {
    font-size: 26px;
    margin-bottom: 40px;
}

.setting_nav {
    margin-bottom: 24px;
    border-bottom: 1px solid rgb(242, 242, 242);
}

.setting_button {
    background: transparent;
    outline: none;
    border: none;
}

.setting_nav_link {
    display: block;
    text-decoration: none;
    color: rgb(107, 107, 107);
    margin-right: 32px;
    font-size: 16px;
    padding-bottom: 16px;
}

.setting_nav_link.active {
    color: #000;
    border-bottom: 1px #000 solid;
}

.setting_nav_link:hover {
    color: #000;
}
