@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
:root {
    --main-color: #bc9667;
    --second-color: #edeae3;
    --text-color: #1b1b1b;
    --bg-color: #fff;

    --box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%);
}

section {
    padding: 50px 100px;
}

img {
    width: 100%;
}

body {
    color: var(--text-color);
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 100px;
    transition: 0.5s linear;
    background: var(--text-color);
}
.logo img {
    width: 60px;
}

.navbar {
    display: flex; 
}
.navbar a {
    padding: 8px 17px;
    color: var(--bg-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar a:hover {
    background: var(--main-color);
    border-radius: 0.2rem;
    transition: 0.2s all linear;
}

.home {
    width: 100%;
    min-width: 100vh;
    background: url('../assets/blogHome.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
    align-items: center;
    gap: 1.5rem;
}

.home_text h1 {
    font-size: 2rem;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.home_text p {
    font-size: 1.2rem;
    color: var(--main-color);
    margin: 0.5rem 0 1.4rem;
    font-weight: 500    ;
}

.btn {
    padding: 10px 40px;
    border-radius: 0.3rem;
    background-position: var(--second-color);
    color: var(--main-color);
    font-weight: 500;
    background: var(--text-color);
}


.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
    align-items: center;
    gap: 1.5rem;
    background: url(../assets/bgAbout.jpg);
}
.about_img img {
    border-radius: 0.5rem;
}
.about_text h2 {
    font-size: 1.8;
    text-transform: uppercase;
}
.about_text p {
    font-size: 0.938rem;
    margin: 0.5rem 0 1.1rem;
}