.signup-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f4f8;
}

.signup-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.signup-form h2 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #333;
}

.signup-form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-form button {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup-form button:hover {
    background-color: #333;
}

.signup-form a {
    text-decoration: none;
    color: #fff;
}

.signup-container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 150px;
    background: url() no-repeat center;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}
