* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
  }
  
.post_block {
  width: calc(100%/3);
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}

.post_block-item {
  border: 1px #ccc solid;
  border-radius: 20px;
}

.post_block-image {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
  
.post_block-content {
  width: 100%;
  padding: 16px;
}
  
.post_block-content_title {
  margin-bottom: 16px;
}
 
.post_block-content_title a {
  text-decoration: none;
  color: #000;
}

.post_block-content_description{
  color: rgba(0, 0, 0, 0.4);
  font-size: 18px;
  display: -webkit-box;       
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 3;   
  overflow: hidden;         
  text-overflow: ellipsis;
}
  

.post_block-footer {
  width: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
}

.post_block-author_ava {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
}
  
.post_block-info {

}
  
.post_block-author_name {

}
  
.post_block-date {
    color: rgba(0, 0, 0, 0.4);
}
  

/* Responsive */
/* Mobile */
@media (max-width: 720px) {
  .post_block {
      width: 100%;    
    }
    .post_block-content_description{
      display: -webkit-box;        
        -webkit-box-orient: vertical; 
        -webkit-line-clamp: 2;
    }
  }



/* Tablet */
@media (min-width: 720px) and (max-width: 1024px) {
  .post_block {
      width: 50%;
  }
}  