.backgound{
    background-color: black;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.group {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 600px;
    margin-bottom: 5%;
}

.usth {
    width: 400px; /* Điều chỉnh kích thước logo USTH */
    height: auto;
    margin: 20px;
}

.team{
    color: white;
}