* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header{
    width: 100%;
    height: 80px;
    position: fixed;
    top:0;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px rgba(0, 0, 0, 0.5) solid;
    z-index: 1;
}

.logo {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.logo_image {
    object-fit: fill;

}

.logo_image img{
    height: 100%;
    width: auto;
   
}

.search_bar {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
}

.search_icon {
    font-size: 20px;
    margin-right: 16px;
}

.search_input {
    width: 100%;
    height: 50%;
    border-radius: 30px;
    
}

.navigation {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;    
}

.nav_list {
    width: 100%;
    display: flex;
    justify-content: end;
    flex-direction: row;
    list-style: none;
    
}

.nav_item {
    padding: 14px 18px;
    margin: 0 12px;
    
}

.nav_item a {
    text-decoration: none;
    color: #000;
}


.category_menu_icon {
    font-size: 12px;
}

.create_post_button {
    background-color: #000;
    border-radius: 30px;
}

.create_post_button a {
    color: #fff;
}

.create_post_icon {
    margin-right: 6px;
}
