* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header{
    top:0;
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: 1; */
    background: linear-gradient(
        to bottom,
        rgb(255,192,203),
        rgba(255,192,203,0.8),
        rgba(255,192,203,0.7),
        rgba(255,192,203,0.5)
    );
}

.navD{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.link{
    color: black;
}

.li:hover{  
    opacity: 0.8;
}

.li{
    margin: 0 16px;
    padding: 16px;
    text-decoration: none;
    font-size: 20px;
}

.ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    list-style: none;
}

.link{
    flex: 1;
    text-decoration: none;
}


/* category list */
.navigation_part {
    position: relative;
}

.category_list_container {
    position: absolute;
    display: none;
    width: 450px;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.navigation_part .categories:hover .category_list_container {
    display: block;
}

.category_list_container::before {
    content: "";
    border-width: 30px 50px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    right: 0;
    top: -50px;
}

.category_list {
    display: flex; 
    justify-content: flex-start;
    flex-wrap: nowrap;
    list-style: none;

}

.category_item {
    margin: 8px;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 30px;
}

.category_item a {
    text-decoration: none;
    color: #000;
}

