* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.category_content {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;  
}

.category_content_container {
    width: 80%;
}
.category_title {  
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4) ;
    font-size: 26px;
}   

.category_blogblock_container {
    margin-top: 20px;
}

.blogblock_container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    flex-wrap: wrap;
}
